.product-details {
  display: flex;
}

.product-detail {
  width: 50%;
  padding: 0 25px;
}

.product-detail h1 {
  text-align: center;
  margin: 20px 0;
}

.product-detail img {
  max-height: 400px;
  display: block;
  margin: auto;
}

.details-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 20px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.details-data h2 {
  justify-self: start;
}

.details-data p {
  justify-self: end;
}
